<footer class="footer">
  <div class="footer-inner">

    <ul class="footer-list">
      <li class="footer-item">
        <h4>Quick Links</h4>
        <ul>
          <li>
            <a href="http://fbandc.com/search">Search</a>
          </li>
          <li>
            <a href="http://fbandc.com/pages/about-us">About Us</a>
          </li>
        </ul>
      </li>

      <li class="footer-item">
        <h4>Get Connected</h4>
        <div class="social-icons">
          <div class="social"><a href="https://www.facebook.com/FBandC"><i class="fa fa-facebook-official"></i></a></div>
          <div class="social"><a href="https://www.pinterest.com/fbandc/"><i class="fa fa-pinterest"></i></a></div>
          <div class="social"><a href="https://plus.google.com/+Fbandc/about"><i class="fa fa-google-plus"></i></a></div>
          <div class="social"><a href="https://instagram.com/freedombakery/"><i class="fa fa-instagram"></i></a></div>
        </div>
      </li>

      <li class="footer-item">
        <h4>Contact Us</h4>
        <p>
          Freedom Bakery & Confections<br>
          125 Hangar Way #130<br>
          Watsonville, <abbr title="California">CA</abbr> 95076<br>
          <a href="tel:+18317225223">831.722.5223</a> * <a href="mailto:sales@fbandc.com">Sales@FBandC.com</a>
        </p>
      </li>
    </ul>

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>

  </div>
</footer>
